
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;            
  width: 100vw;           
  overflow: visible;      
        
}
#bg-image{
    background-image: url("images/nen-shema.jpg");
    transition: 0.5s ease;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    
}

.circle {
  position: absolute;
  width: 102.7px;
  height: 102.7px;
  border: solid 2px transparent;
  border-radius: 50%;
  background-color: transparent;
  line-height: 0;
  font-size: 0;
}
.enhancer { top: 17.3%; left: 46.65%; }

.enhancer:hover{
    box-shadow: #227c17 0 0 25px 15px ;
    
    
    transition: 0.3s;
}
.specialisation { top: 73.7%; left:46.35%; }

.specialisation:hover{
    box-shadow: #006cbf 0 0 25px 15px ;
    
    
    transition: 0.5s;
}
.emission { top: 31.5%; left: 33.77%; }
.emission:hover{
    box-shadow: #e5a017 0 0 25px 15px ;
    
    
    transition: 0.3s;
}
.transmutation { top: 31.1%; left: 58.2%; }
.transmutation:hover{
    box-shadow: #9b29c5 0 0 25px 15px ;
    
    
    transition: 0.3s;
}
.manipulation{top:59.3% ; left:33.68% ;}
.manipulation:hover{
  box-shadow: #bcbbb9 0 0 25px 25px ;
    
    
    transition: 0.3s;
}
.conjuration { top: 59.5%; left: 58.2%; }
.conjuration:hover{
    box-shadow: #ce111d 0 0 25px 15px ;
    
    
    transition: 0.3s;
}
.nen-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}